<%-include('layouts/header.ejs')%>
<div style="margin-left: 250px">
<!-- <h2 class="mb-4">Hii, <b><%=user.username%></b></h2> -->
<div class="row" style="margin-top: -30px;">
    <div class="col-md-3">
        <ul class="list-group">
            <% 
                if(users.length>0) {
                    users.forEach(user =>{
                        %>
                            <li class="list-group-item list-group-item-dark cursor-pointer user-list" data-id="<%=user._id%>" data-image="<%=user.image%>" data-name="<%=user.username%>"
                                style="background: #eee;"
                                >
                                <img src="<%=user.image%>" width="40px" height="40px">
                                <%=user.username%>
                                <%if(user.is_online==='1'){%>
                                    <sup class="online-status" id="<%=user._id%>-status">Online</sup>
                                <%} else{%>
                                    <sup class="offline-status" id="<%=user._id%>-status">Offline</sup>
                                <%}%>
                            </li>
                        <%
                    });
                }
            %>
        </ul>
    </div>
    <div class="col-md-9">
        <h1 class="start-head" style="text-align: center;margin-top: 18%;margin-left: -30%;"></h1>
        <div class="chat-section">
            <div class="chat-header">
                
            </div>
            <div id="chat-container">
                
            </div>
            <form action="" id="chat-form" style="width: 106%;">
                <input type="text" name="message" placeholder="Enter Message" id="message" class="border" required>
                <input type="submit" value="Send Message" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<script>
    var sender_id = '<%=user._id%>'
    var receiver_id;
    var socket = io('/user-namespace',{
        auth:{
            token:'<%=user._id%>'
        }
    })
    var friends = "<%=user.friends%>"
    if(friends.length == 0){
        $('.start-head').text('Add friends to start a chat')
    }

    $(document).ready(function(){
        $('.user-list').click(function(){
            var receiver_id = $(this).attr('data-id')
            var receiver_name= $(this).attr('data-name')
            var receiver_image= $(this).attr('data-image')
            let html = `
            <div style="display: flex; align-items: center;background:#4a4a4a;width:105%;padding:10px">
                <img src="${receiver_image}" width="50px" height="50px" style="margin-left:15px">
                <h5 style="margin-left:10px;color:white;margin-top:5px">${receiver_name}</h5>
            </div>

            `
            $('.chat-header').html(html)
            $('.start-head').hide()
            $('.chat-section').show()

            socket.emit('existsChat',{sender_id: sender_id, receiver_id: receiver_id})
        })
    })

    //update user online status
    socket.on("getOnlineUser",(data)=>{
        $('#'+data.userId+'-status').text("Online")
        $('#'+data.userId+'-status').removeClass()
        $('#'+data.userId+'-status').addClass('online-status')
    })

    //update user offline status
    socket.on("getOfflineUser",(data)=>{
        $('#'+data.userId+"-status").text("Offline")
        $('#'+data.userId+"-status").removeClass()
        $('#'+data.userId+"-status").addClass("offline-status")
    })

    //chat save of user
    $("#chat-form").submit((event)=>{
        event.preventDefault()  //this will prevent page to refresh on submit
        var message = $('#message').val()
        jQuery.ajax({
            url: "/save-chat",
            type: "post",
            data: { sender_id: sender_id, receiver_id: receiver_id, message: message },
            success: function(response) {
                if (response.success) {
                    $('#message').val('');
                    let chat = response.data.message;
                    let html = `
                        <div class="current-user-chat">
                            <h5>${chat}</h5>
                        </div>
                    `;
                    $("#chat-container").append(html);
                    socket.emit('newChat',response.data)
                    scrollChat()
                } else {
                    alert(response.message);
                }
            }
        });
    })

    socket.on("loadNewChat",function(data){
        if(sender_id === data.receiver_id && receiver_id === data.sender_id){
            let html = `
                <div class="distance-user-chat">
                    <h5>${data.message}</h5>
                </div>
            `
            $('#chat-container').append(html)
        }
        scrollChat()
    })

    //load old chats
    socket.on("loadChats",function(data){
        $("#chat-container").html('')
        var chats = data.chats
        var html = ''
        chats.forEach(chat => {
            let addClass = ''
            if(chat.sender_id == sender_id){
                addClass = 'current-user-chat'
            } else{
                addClass = 'distance-user-chat'
            }
            html+=`
            <div class="${addClass}">
                    <h5 class="chat-user">${chat.message}</h5>
            </div>
            `
        });
        $('#chat-container').append(html)
        scrollChat()
    })

    function scrollChat(){
        $("#chat-container").animate({
            scrollTop:$("#chat-container").offset().top + $("#chat-container")[0].scrollHeight
        },0)
    }
</script>   
</div>
<%-include('layouts/footer.ejs')%>